@import "tailwindcss";

:root {
  --background: #f8f8f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f9f506;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f5;
    --foreground: #171717;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}